#head-one{
    margin: 20px; background-color: white;
}
.body{
    background-color: #bebfc0
}
.container{
    margin: 10px;color: white;
}
.color-one{
    background-color: #3285c6;
}
.color-two{
    background-color: #2892d0;
}
.color-three{
    background-color:#1e9ed9 ;
}
.color-four{
    background-color:#33a7de ;
}
.color-five{
    background-color:#58b6e7 ;
}
.color-six{
    background-color:#58b6e7 ;
}
.color-seven{
    background-color:#8fcbef ;
}
.color-eight{
    background-color: #1ab586;
}
.color-nine{
    background-color:#f6b0cd ;
}
.color-ten{
    background-color:#f49dc2 ;
}
.color-eleven{
    background-color: #f38cb3;
}
.color-twelve{
    background-color:#f179a6 ;
}
.color-thirteen{
    background-color:#f16997 ;
}
.color-fourteen{
    background-color:#f0588b ;
}
.color-fifteen{
    background-color:#ee3981 ;
}

